name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run pre-commit linting
        run: pipx run pre-commit run --all-files

  test:
    name: ${{ matrix.platform }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        platform: [ubuntu-latest, macos-latest]
        include:
          - platform: windows-latest
            python-version: "3.10"

    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          mamba-version: "*"
          channels: conda-forge
          channel-priority: true

      - name: Install package and dependencies
        run: |
          mamba install -c gurobi -c funkelab ilpy
          python -m pip install -e .[test]

      - name: Test
        run: pytest tests -v --color=yes --cov=motile --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3

  benchmarks:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.11"
          mamba-version: "*"
          channels: conda-forge
          channel-priority: true

      - name: Install package and dependencies
        run: |
          mamba install -c gurobi -c funkelab ilpy
          python -m pip install -e .[test]

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v1
        with:
          run: pytest --codspeed -v --color=yes
